* {
    font-family: "Courier New", Courier, monospace;
}


.header {
    text-align: center;
    font-size: 26px;
    color: rgb(255, 255, 255);
}


p {
    font-family: "Courier New", Courier, monospace;
    font-size: 19px;
    letter-spacing: 0.6px;
    word-spacing: 3.0px;
    color: #000000;
    font-weight: normal;
    text-decoration: none;
    font-style: normal;
    font-variant: normal;
    text-transform: none;
}

.avatar {
    display: block;
    border-radius: 200px;
    box-sizing: border-box;
    background-color: #DDD;
    border: 5px solid #404d5b;
}

img {
    height: auto;
    width: 200px
}

.row {
    display: flex;
}

.column {
    float: left;
    padding: 10px;
}

.left {
    width: 10%;
    font-size: 16px;
}

.right {
    width: 90%;
    color:#000000;
    background-color: #ffffff;
    font-size: 20px;
    padding: 100x;
}

.resume-content {
    padding: 60px;
}

.row:after {
    content: "";
    display: table;
    clear: both;
  }